<div >
    <div class="box">
      <div class="spanBox">
        <span class="inner">
          {{spanContent}}
        </span>
      </div>
  
      <div class="content">
        <div class="pBox">
          <p class="white-text">
            {{paraContent}}
          </p>
        </div>
      </div>
      <div class="button">
        <a href="#" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">Learn about our solutions</a>
        <a href="#" class="btn btn-lg active" role="button" aria-pressed="true">Find Jobs</a>
      </div>
    </div>
  </div>
  